<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>DingCong's House</title>
    <link rel="icon" href="/img/index/icon.ico" type="image/x-icon" />
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="css/freelancer.min.css" rel="stylesheet" />
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">DCEIN</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/login" th:unless="${user != null}">登录</a>
                        <a href="/" th:if="${user != null}" th:text="${user.userName}" class="userName"></a>
                    </li>
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="/feedback">提建议</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">关于</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="/img/index/profile.png" alt="" />
                    <div class="intro-text">
                        <span class="name"></span>
                        <hr class="star-light"/>
                        <span class="skills">Dcein's House</span><br/>
                        <span class="skills">QQ-Number:625192155</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Welcom to our house</h3>
                    <hr class="star-primary"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="/login" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                                <p>Effort is on the way</p>
                            </div>
                        </div>
                        <img src="img/index/cabin.png" class="img-responsive" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>位置</h3>
                        <p>银河系<br>地球,中国,上海</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3></h3>
                        <ul class="list-inline">
                            <li>
                                <img src=" 放微信二维码" style="width: 60%;" />
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>关于网站</h3>
                        <p>此站仅练习使用</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Dcein 2017-2018
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
</body>

</html>
